@import "~bootstrap/dist/css/bootstrap.css";
body {
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmFDAqQRC0ZZlkw9g2YTvneCaikAsq-rWioQ&usqp=CAU); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.container {
  padding: 40px;
}